#resume {
  background-color: var(--colorCream);
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100vw;
}
.line.resume {
  background-color: rgba(0, 0, 0, 0.54);
}
.line {
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}

.section-title.resume {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
.section-banner {
  padding-top: 10px;
  padding-bottom: 50px;
}
.section-title {
  font-family: 'lato', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
