#about {
  background-color: var(--colorCream);
  height: 100%;
  padding-bottom: 200px;
  padding-top: 100px;
  width: 100vw;
}

/* .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.center-row {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}
.icon-me {
  text-align: center;
  font-size: 5em;
  color: var(--colorSlate);
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.icon-container {
  text-align: center;
  font-size: 5em;
  color: var(--colorSlate);
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.icon-me img {
  width: 250px;
  border-radius: 50%;
}

.max {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 15px;
}
.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1fr;
  justify-content: center;
  /* justify-content: center; */
}
.desc-row {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
}

#about .desc {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
}

.line.about {
  background-color: rgba(0, 0, 0, 0.54);
}
.line {
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}

.section-title.about {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
.section-banner {
  padding-top: 10px;
  padding-bottom: 50px;
}
.section-title {
  font-family: 'lato', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
