.social-footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

.social-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-footer ul li {
  display: inline;
  padding: 0.6em;
  width: 50px;
}

/* .social-footer a {
  color: #070707 !important;
  background-color: white;
} */

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  background-color: #000;
  opacity: 1;
  z-index: 100;
}

footer a {
  font-weight: 500;
  text-decoration: none;
  pointer-events: visibleFill;
}

.copyright {
  padding-bottom: 0px;
  padding-top: 5px;
  color: #6a7176;
}
a[name]:hover::after {
  content: attr(name);
  position: absolute;
  top: -100%;
  left: 0;
}
a:hover {
  text-decoration: none;
}
a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
