@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  --color1: rgb(31, 3, 24);
  --color2: rgb(229, 242, 201);
  --color3: rgb(127, 83, 75);
  --color4: rgb(140, 112, 95);
  --color5: rgb(315, 13, 12);
  --colorSlate: rgb(77, 76, 91);
  --colorCream: rgb(255, 255, 255);
  background-color: var();
  color: var();
  cursor: default;
  /* display: flex; */
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 00px;
  background-color: #f6f6f6;
}
button {
  cursor: pointer;
}
.full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
}
